@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

html, body {
  background-color: #fefefe;
  overflow-x: hidden;
}

* {
  font-family: 'Source Sans Pro', sans-serif;
  box-sizing: border-box;
}

p, a, i, h1, h2, h3, h4, h5 {
  color: #111;
}

body {
    padding: 2vw;
    min-height: 100vh;
    background-image: url(/images/black-pattern.svg)
}

h1, h2, h3, h4, h5, h6, p, a, span {
    margin: 0;
    padding: 0;
}

#main {
  width: 90vw;
  max-width: 1000px;
  margin: 0 auto;
}

#left {
  width: 33%;
  padding: 10px;
}

#right {
  width: 67%;
  padding: 15px 35px;
}

#main, #left, #right {
  box-sizing: border-box;
  overflow-x: hidden;
}

#left, #right {
  display: inline-block;
  vertical-align: top;
}

#info {
  background-color: #fff;
  box-shadow: 1px 1px 3px 2px rgb(79 82 102 / 20%);
  padding: 30px;
  border-radius: 3px;
  margin-bottom: 20px;
}

#info .label {
  color: #333;
}

#info p {
  color: #111;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 15px;
}

#info p:last-child {
  margin-bottom: 0px;
}

#chat {
  height: 250px;
  margin-left: 5px;
  overflow-y: scroll;
  margin: 15px 0;
}

#chat-container {
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 1px 1px 3px 2px rgb(79 82 102 / 20%);
}

#message-input {
  background-color: rgb(230, 230, 230);
  padding: 10px;
  border: none;
  border-radius: 15px;
  outline: none;
  width: 100%;
}

.loading {
  text-align: center;
  font-style: italic;
  color: #aaa;
  margin-top: 25px;
}

.user-ready .rtrue {
  color: green;
}

.user-ready .rfalse {
  color: red;
}

#right #to-dashboard {
  text-decoration: none;
  color: #eee;
  padding: 15px;
  background-color: #005aa3;
  border-radius: 5px;
  box-shadow: 1px 1px 3px 2px rgb(79 82 102 / 20%);
  position:relative;
  top: 10px;
}

#right #to-dashboard i {
  color: #eee;
  margin-right: 10px;
}

#activity {
  margin-top: 50px;
  text-align: center;
  background-color: #fff;
  box-shadow: 1px 1px 3px 2px rgb(79 82 102 / 20%);
  padding: 30px;
  text-align: left;
}

#activity #waiting-cancel {
  text-decoration: none;
  color: #eee;
  background-color: red;
  padding: 20px 40px;
  text-transform: uppercase;
  margin-top: 25px;
}

#activity #timer {
  border: 1px solid #ddd;
  padding: 15px;
  font-weight: bold;
  display: inline-block;
  min-width: 50px;
  min-height: 50px;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 20px;
}

#ready-box h3 {
  font-size: 1.5em;
}

#ready-box #ready-button {
  background-color: #3bedb7;
  color: white;
  padding: 10px 40px;
  text-transform: uppercase;
  border-radius: 3px;
  text-decoration: none;
}

#ready-box .user-ready {
  margin: 10px 0;
}

#playing-box {
  /*padding: 25px;*/
}

#playing-box #one-submission {

}

#playing-box #playing-buttons {
  text-align: center;
  margin: 50px 0;
}

#playing-box #win-button {
  background-color: #005aa3;
  text-decoration: none;
  color: #eee;
  padding: 15px 60px;
  margin-right: 25px;
}

#playing-box #lost-button {
  background-color: red;
  text-decoration: none;
  color: #eee;
  padding: 15px 60px;
}

#dispute-box h3 {
  margin-bottom: 20px;
  font-size: 1.5em;
}

#all-users h2 {
  margin-top: 40px;
  margin-bottom: 5px;
}

#all-users p {
  margin: 15px 0;
}

#discord {
  background-color: rgb(35, 39, 42);
  color: white;
  padding: 15px;
  border-radius: 3px;
  text-decoration: none;
  font-weight: 700;
  transition: 0.2s;
  display: inline-block;
  width: 100%;
  margin-top: 20px;
  text-align: center;
  display: block;
}

#discord:hover {
  background-color: #454b4f;
}
#discord .fa-discord {
  color: white;
  margin-right: 15px;
}