@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

/*
colors:
turquoise - #005aa3
silver - #afafaf
abbey - #4f4f50
blue - #03e9f4

#005aa3
*/

html, body {
  background-color: #fefefe;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  font-family: 'Source Sans Pro', sans-serif;
}

p, a, i, h1, h2, h3, h4, h5 {
  color: #111;
}

body {
    padding: 2vw;
    min-height: 100vh;
    background-image: url(/images/black-pattern.svg)
}

h1, h2, h3, h4, h5, h6, p, a, span {
    margin: 0;
    padding: 0;
}

#header-box {
    display: flex;
    align-items: center;
}

#logo {
  width: 32px;
  margin-right: 10px;
  margin-left: 50px;
}

#error-box {
  position: absolute;
  top: 20px;
  left: 30vw;
  width: 40vw;
  min-width: 300px;
  max-width: 90vw;
  padding: 20px;
  margin: 0 auto;
  background-color: red;
  text-align: left;
  z-index: 100;
  display: none;
}

#error-box #error {
  color: white;
  display: inline-block;
  font-size: 16px;
}

#error-box .fa-times {
  float: right;
  color: white;
  line-height: 13px;
  vertical-align: middle;
  padding: 5px;
  height: 0;
}

#error-box .fa-times:hover {
  cursor: pointer;
}

#create-team, #add-player, #leave-team, #team-header {
  display: none;
}

#header {
    clear: both;
    text-align: right;
}

#header h2 {
    float: left;
    display: inline-block;
    vertical-align: middle;
    font-size: 1.7em;
}

#account  {
    display: inline-block;
    vertical-align: middle;
    margin-right: 60px;
    margin-left: auto;
}

#account .fa-bell {
    color: #eee;
    border: 2px solid #111;
    padding: 9px;
    border-radius: 50%;
    margin-right: 20px;
    transition: 0.25s;
    transform: translateY(-25%);
    background-color: #111;
}

#account .fa-bell:hover {
    background-color: #111;
    cursor: pointer;
    color: #eee;
}

#account #profile {
  color: #eee;
  border: 2px solid #005aa3;
  padding: 9px;
  border-radius: 10px;
  margin-left: 20px;
  transition: 0.25s;
  transform: translateY(-25%);
  background-color: #005aa3;
  cursor: pointer;
  position: relative;
  top: -7px;
  box-shadow: 1px 1px 3px 2px rgb(79 82 102 / 20%);
}

#account #profile .fa-user {
  color: #eee;
  margin-right: 5px;
}

#account #noti-bubble {
  background-color: #58e085;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
  transform: translateX(27px) translateY(-18px);
  display: none;
}

#account .right {
    text-align:left;
    display: inline-block;
}

#account h4 {
}

#account .balance {
    color: #58e085;
    margin-left: 4px;
}

#main {
    padding-top: 80px;
}

#current-wager {
  margin: 25px 0;
}

#current-wager span, #current-wager a{
  background-color: #005aa3;
  padding: 15px 50px;
  color: #eee;
}

#team {
    text-align: center;
    margin-bottom: 30px;
}

#team h3 {
    margin: 30px 0;
    margin-bottom: 10px;
}

#team .player {
    padding: 10px;
    margin: 0 5px;
    display: inline-block;
    margin-bottom: 20px;
    background-color: rgb(230, 230, 230);
    border-radius: 3px;
}

#team #create-team {
    background-color: #00a3ab;
    color: #eee;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: bold;
}

#team #leave-team {
  color: #eee;
  background-color: #8c0200;
  padding: 10px 15px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 3px;
}

#team #add-player {
    background-color: #005aa3;
    color: #111;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: bold;
    margin-right: 10px;
    border-radius: 3px;
}

#noti-triangle {
  display: none;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;

  border-bottom: 5px solid #fff;
  position: absolute;
  right:250.5px;
  top: 81px;
}

#notis {
  width: 300px;
  max-width: 90vw;
  background-color: #fff;
  padding: 18px;
  border-radius: 3px;
  clear: both;
  padding-top: 10px;

  position: absolute;
  right: 65.5px;
  top: 85px;
}

.noti {
  text-align: left;
  margin: 10px 0;
  margin-top: 20px;
  height: 40px;
  border-bottom: 1px solid #1c1c1c;
  padding-left: 10px;
}

.noti:last-child {
  border-bottom: none;
  height: 20px;
}

.noti p {
  display: inline-block;
}

.noti i {
  float: right;
  margin: 0 10px;
  color: #00a3ab;
  border: 2px solid #00a3ab;
  border-radius: 50%;
  padding: 5px;
  vertical-align: middle;
  transform: translateY(-5px);
  transition: 0.25s;
  width: 17px;
  height: 17px;
  text-align: center;
}

.noti i:hover, .noti i:active {
  cursor: pointer;
  background-color: #111;
  color: #eee;
}

.noti i.fa-times {
  color: #eee;
  border-color: #eee;
}

.noti i.fa-times:hover, .noti i.fa-times:active {
  background-color: #eee;
  color: #111;
}

.popup-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
  cursor: pointer;
}

#add-player-prompt, #create-wager-prompt, #join-prompt {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);

  background-color: #fff;
  border-radius: 10px;
  padding: 75px;
  padding-top: 45px;
  clear: both;
  width: 400px;
  max-width: 90vw;
  cursor: default;
}

#add-player-prompt h4, #create-wager-prompt h4 {
  text-align: left;
  margin: 15px 0;
  cursor: default;
  margin-bottom: 30px;
}

#add-player-prompt input {
  width: 100%;
  padding: 8px 0;
  font-size: 15px;
  color: #eee;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid #eee;
  outline: none;
  background: transparent;
  box-sizing: border-box;
}

#add-player-prompt .fa-times, #create-wager-prompt .fa-times {
  float: right;
  margin-top: 5px;
  padding: 5px;
}

#add-player-prompt .fa-times:hover, #create-wager-prompt .fa-times:hover {
  cursor: pointer;
}

#inv-button, #create-wager-button {
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #eee;
  background-color: #005aa3;
  font-weight: bold;
  text-decoration: 0;
  text-align: center;
  display: block;
  padding: 10px;
  transition: 0.2s;
}

#inv-button:hover, #create-wager-button:hover {
  background-color: #17ad80;
}

#wagers {
  width: 1500px;
  max-width: 90vw;
  margin: 0 auto;
  text-align: center;
}

#wagers-container {
  transform: translateX(-25px);
}

#line-container {
}

#wagers h2 {
  display: block;
  text-align: center;
  font-size: 3.5em;
}

#wagers #open-create-wager {
    background-color: #005aa3;
    color: #eee;
    text-decoration: none;
    padding: 15px 70px;
    font-weight: bold;
    display: inline-block;
    border-radius: 3px;
    font-size: 1.2em;
    margin-left: auto;
    margin-top: 20px;
}

#create-wager-prompt h4 {
  font-size: 2em;
}

#create-wager-prompt label {
  display: block;
  text-transform: uppercase;
  color: #111;
  text-align: left;
  margin-top: 15px;
  margin-bottom: 5px;
}

#create-wager-prompt input, #create-wager-prompt select {
  display: block;
  width: 100%;
  padding: 5px;
  outline: none;
  border: 2px solid #ccc;
  box-sizing: border-box;
  cursor: pointer;
}

#create-wager-prompt input:focus, #create-wager-prompt select:focus {
  border: 2px solid #005aa3;
}

#create-wager-prompt input:invalid {
  color: red;
}

#entry-fee {
  padding-left: 20px !important;
}

#entry-fee-price-tag {
  position: absolute;
  top: 4px;
  left: 10px;
  color: #555;
  height: 0;
  width: 0;
}

#region-container, #match-type-container, #rounds-container {
  display: inline-block;
  width: 28%;
}

#region-container, #match-type-container {
  margin-right: 8%;
}

#region-container select, #match-type-container select, #rounds-container select {
  display: inline-block;
}

#create-wager-prompt #create-wager-button {
  margin-top: 25px;
  color: #eee;
}

#desc {
  color: #333;
  margin: 10px 0;
}

#wagers-centering-container {
  text-align: center;
}

#wagers-container {
  margin-top: 30px;
  box-sizing: border-box;
  text-align: left;
}

#filters {
  text-align: center;
}

.wager {
  display: inline-block;
  padding: 40px;
  margin: 25px 25px;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 20px;
  box-sizing: border-box;
  width: 22vw;
  max-width: 300px;

  box-shadow: 1px 1px 3px 2px rgb(79 82 102 / 20%);
  text-align: center;
}

.wager h4 {
  text-align: center;
  font-size: 1.5em;
}

.wager p {
  margin: 20px 0;
}

.wager .wager-join {
  display: block;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  background-color: #005aa3;
  color: #eee;
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
}

.wagers-loading {
  font-style: italic;
}

.fa-sync-alt {
  color: #111;
  padding: 8px;
  display: inline-block;
  cursor: pointer;
  position: absolute;
  margin-left: 140px;
  margin-top: 5px;
}

#region-filter, #match-type-filter, #team-size-filter, #console-only-filter {
  margin: 0 5px;
  margin-top: 25px;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid #555;
  outline: none;
  font-size: 1.05em;
  text-transform: uppercase;
  color: #555;
}

#logout {
  background-color: #005aa3;
  padding: 10px 15px;
  color: #eee;
  text-decoration: none;
  margin-left: 15px;
  border-radius: 20px;
}

#join-prompt {
  position: relative;
  padding-bottom: 45px;
}

#join-prompt h4 {
  font-size: 2em;
}

#join-prompt .fa-times {
  cursor: pointer;
  padding: 5px;
  position: absolute;
  top: 20px;
  left: 92%;
}

#join-prompt #join-select-confirm {
  background-color: #005aa3;
  text-decoration: none;
  color: #eee;
  display: block;
  max-width: 250px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 10px;
  border-radius: 8px;
  box-sizing: border-box;
}

#join-prompt #team-select-2 {
  margin: 0 5px;
  margin-top: 25px;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
  font-size: 1.05em;
  color: #222;
  display: block;
  max-width: 250px;
  margin: 0 auto;
  box-sizing: border-box;
  margin-top: 20px;
}