@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap");

html,
body {
  background-color: #fefefe;
  overflow-x: hidden;
}

* {
  font-family: "Source Sans Pro", sans-serif;
  box-sizing: border-box;
}

p,
a,
i,
h1,
h2,
h3,
h4,
h5 {
  color: #111;
}

body {
  padding: 2vw;
  min-height: 100vh;
}

h1 {
  text-align: center;
  font-size: 3em;
}

#container {
  text-align: center;
  width: 80vw;
  max-height: 300px;
  background-color: #fff;
  box-shadow: 1px 1px 3px 2px rgb(79 82 102 / 20%);
  padding: 100px;
  padding-top: 30px;
  margin: 0 auto;
  position: relative;
}

#error {
  background-color: #d93725;
  padding: 8px;
  padding-left: 20px;
  color: #eee;
  margin: 20px 0;
}

#links {
  width: 700px;
  background-color: rgb(246, 246, 246);
  padding: 30px;
  border-radius: 20px;
  margin: 0 auto;
  text-align: center;
}

#links .link {
  text-decoration: none;
  margin: 0 20px;
}

#links .link:hover {
  text-decoration: underline;
}

#links .link-selected {
  font-weight: bold;
}

#links .logout {
  color: #d93725;
}

#amount-options {
  margin: 50px 0;
  text-align: center;
}

#amount-options .amount-selector {
  cursor: pointer;
  display: inline-block;
  padding: 20px;
  margin: 0 15px;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 1px 1px 3px 2px rgb(79 82 102 / 20%);
}

#amount-options .selected {
  border: 2px solid rgb(62, 212, 62);
}

input {
  font-size: 15px;
  color: #111;
  border: none;
  border-bottom: 1px solid #eee;
  outline: none;
  background-color: rgb(230, 230, 230);
  padding: 15px;
  border-radius: 5px;
  display: block;
  width: 300px;
  margin: 0 auto;
  margin-top: 30px;
}

#paypal-button-container {
  margin: 0 auto;
  text-align: center;
  margin-top: 40px;
}

#dash {
  position: absolute;
  top: 50px;
  left: 50px;
  background-color: #005aa3;
  text-decoration: none;
  color: #eee;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 1px 1px 3px 2px rgb(79 82 102 / 20%);
}
