@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

html, body {
  background-color: #fefefe;
  overflow-x: hidden;
}

* {
  font-family: 'Source Sans Pro', sans-serif;
  box-sizing: border-box;
}

p, a, i, h1, h2, h3, h4, h5 {
  color: #111;
}

body {
    padding: 2vw;
    min-height: 100vh;
    background-image: url(/images/black-pattern.svg)
}

h1 {
    text-align: center;
    font-size: 3em;
}

#container {
    width: 80vw;
    background-color: #fff;
    box-shadow: 1px 1px 3px 2px rgb(79 82 102 / 20%);
    padding: 100px;
    padding-top: 30px;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

h4 {
    font-size: 1.5em;
    margin-bottom: 10px;
    margin-top: 80px;
}

input {
    font-size: 15px;
    color: #111;
    border: none;
    border-bottom: 1px solid #eee;
    outline: none;
    background-color: rgb(230, 230, 230);
    padding: 15px;
    border-radius: 5px;
}

.add-player {
    margin-left: 10px;
    background-color: #005aa3;
    text-decoration: none;
    color: white;
    padding: 15px 30px;
    border-radius: 7px;
    box-shadow: 1px 1px 3px 2px rgb(79 82 102 / 20%);
}

.team-users {
    margin: 20px 0;
}

.leave-team {
    background-color: #d93725;
    text-decoration: none;
    color: white;
    padding: 15px 30px;
    border-radius: 7px;
    box-shadow: 1px 1px 3px 2px rgb(79 82 102 / 20%);
    position: relative;
    top: 30px;
}

#create-box {
    margin-top: 80px;
}

#create-box h3 {
    font-size: 1.75em;
}

#create-box input {
    width: 300px;
}

#create-button {
    margin-left: 10px;
    background-color: #005aa3;
    text-decoration: none;
    color: white;
    padding: 15px 30px;
    border-radius: 7px;
    box-shadow: 1px 1px 3px 2px rgb(79 82 102 / 20%);
    margin-bottom: 40px;
}

#error {
    background-color: #d93725;
    padding: 8px;
    padding-left: 20px;
    color: #eee;
}

#links {
    width: 700px;
    background-color:rgb(246, 246, 246);
    padding: 30px;
    border-radius: 20px;
    margin: 0 auto;
    text-align: center;
}

#links .link {
    text-decoration: none;
    margin: 0 20px;
}

#links .link:hover {
    text-decoration: underline;
}

#links .selected {
    font-weight: bold;
}

#links .logout {
    color: #d93725;
}

#teams {
    display: inline-block;
    text-align: left;
}

#dash {
    position: absolute;
    top: 50px;
    left: 50px;
    background-color: #005aa3;
    text-decoration: none;
    color: #eee;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px 2px rgb(79 82 102 / 20%);
}