<!DOCTYPE html>

<html>

	<head>
    	<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="style/dashboard.css">

		<title>Dashboard | Tokens</title>
		<link rel="shortcut icon" type="image/jpg" href="/logo/256.png"/>

		<script src="https://kit.fontawesome.com/4e5174e0e9.js" crossorigin="anonymous"></script>

		<script async src="https://www.googletagmanager.com/gtag/js?id=G-TK8GG8P49J"></script>
		<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-TK8GG8P49J');
		</script>
		<!--Start of Tawk.to Script-->
		<script type="text/javascript">
			var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
			(function(){
			var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
			s1.async=true;
			s1.src='https://embed.tawk.to/61f04232b9e4e21181bbded8/1fq9855q8';
			s1.charset='UTF-8';
			s1.setAttribute('crossorigin','*');
			s0.parentNode.insertBefore(s1,s0);
			})();
			</script>
			<!--End of Tawk.to Script-->

	</head>

	<body>
		<%- include("html/header.html"); %>
		<div id="main">
			<%- include("html/wagers.html"); %>
		</div>

	</body>


</html>
